.posts-wrapper.row
  .post
    .post-head
      .name
        Test User
    .image.center-block
      = image_tag @post.image.url(:medium)
    %p.caption
      = @post.caption
    .text-center
      = link_to "Back", posts_path
      |
      = link_to "Edit", edit_post_path
      |
      = link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?"}